<% if user_signed_in?%>
  <div id="follow_form" style="width: 50%; margin: auto">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>