<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user|%>
		<div class="col-lg-4">
			<div class="row" style="float: left;">
				<%= gravatar_for user, size: 50 %>
				<%= link_to user.name, user %>
			</div>
		</div>
	<% end %>
</ul>

<%= will_paginate %>